{test_app_config,
  {application,
   erlxsl,
   [{description,"C-XSLT Bindings for Erlang/OTP"},
    {vsn,"0.0.1"},
    {mod, {erlxsl_app, []}},
    {modules,
     [erlxsl_app,
      erlxsl_fast_log,
      erlxsl_marshall,
      erlxsl_port_controller,
      erlxsl_sup]},
    {registered,[erlxsl_port_controller,erlxsl_fast_logger]},
    {applications,[kernel,stdlib,sasl]},
    {env,[
  	{driver_options, [
    	{engine, "test_engine.so"},
  		{driver, "erlxsl_drv"},
  		{load_path, "priv/bin"}
  	]}
    ]}]}
  }.