%% Port compilation environment variables.
{port_envs, [
             {"DRV_CFLAGS", "$DRV_CFLAGS -Wall -I $ERL_INCLUDES"},
			 %%{"DRV_LDFLAGS", "-Wl,-rpath priv/lib $DRV_LDFLAGS"},

             %% Define flags for enabling/disable 64 bit build of NSPR
             %%{"-32$", "CFLAGS", "-m32"},
             %%{"-64$", "LDFLAGS", "-m64"},

             %% Solaris specific flags
             {"solaris.*", "DRV_LDFLAGS", "$DRV_LDFLAGS -lrt"},
             
             %% OS X Leopard flags for 64-bit
             {"darwin9.*-64$", "CFLAGS", "-m64"},
             {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

			 %% OS X Snow Leopard flags for 64-bit
			 {"darwin10.*-64$", "CFLAGS", "-m64"},
			 {"darwin10.*-64$", "LDFLAGS", "-arch x86_64 -fPIC -bundle -flat_namespace -undefined suppress"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin10.*-32$", "CFLAGS", "-m32"},
             {"darwin10.*-32$", "LDFLAGS", "-arch i386 -fPIC -bundle -flat_namespace -undefined suppress"}
]}.

%% Run make in c_src directory before building shared library
%% {port_pre_script, {"make -C c_src", ""}}.

%% Makefile in c_src directory also does cleanup
%% {port_cleanup_script, "make -C c_src clean"}.

%% Custom name of the port driver .so file. Defaults to `<Application>_drv.so'.
%% {so_name, "erlxsl_driver.so"}.