%% Port compilation environment variables.
{port_sources, ["c_src/*.c", "inttest/c_src/*.c"]}.
{so_specs, [
  %% {"priv/bin/erlxsl_drv.so", ["c_src/erlxsl_drv.o"]},
  {"priv/bin/erlxsl.so", ["c_src/erlxsl.o"]},
  {"priv/test/bin/test_engine.so", ["inttest/c_src/test_engine.o"]}
]}.
{port_envs, [
  %% TODO: make -DDEBUG configurable as part of the build!?
  {"DRV_CFLAGS", "$DRV_CFLAGS -Wall -I c_src -I $ERL_INCLUDES -DDEBUG"},
  %%{"DRV_LDFLAGS", "-Wl,-rpath priv/lib $DRV_LDFLAGS"},

  %% Define flags for enabling/disable 64 bit build of NSPR
  %%{"-32$", "CFLAGS", "-m32"},
  %%{"-64$", "LDFLAGS", "-m64"},

  %% Solaris specific flags
  {"solaris.*", "DRV_LDFLAGS", "$DRV_LDFLAGS -lrt"},

  %% OS X Leopard flags for 64-bit
  {"darwin9.*-64$", "CFLAGS", "-m64"},
  {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

  %% OS X Snow Leopard flags for 64-bit
  {"darwin10.*-64$", "CFLAGS", "-m64"},
  {"darwin10.*-64$", "LDFLAGS", "-arch x86_64 -fPIC -bundle -flat_namespace -undefined suppress"},

  %% OS X Snow Leopard flags for 32-bit
  {"darwin10.*-32$", "CFLAGS", "-m32"},
  {"darwin10.*-32$", "LDFLAGS", "-arch i386 -fPIC -bundle -flat_namespace -undefined suppress"}
]}.

%% Create the test harness that we'll use later on in our ct tests
{port_pre_script, 
  {"gcc -fPIC -I c_src -Wall -Werror -o priv/test/bin/test_harness inttest/c_src/test_harness.c", ""}}.

%% {port_cleanup_script, ""}.

%% Custom name of the port driver .so file. Defaults to `<Application>_drv.so'.
%% {so_name, "erlxsl_driver.so"}.

{erl_opts, [debug_info,
            {platform_define,
            "(win32)", 'WIN32', true}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{clean_files, ["logs", "priv/test/bin/test_harness"]}.
